<ion-view title='<img class="title-image" src="img/logo2.png" height="100%"/>'>
<ion-content class="padding" style="text-align: justify;text-justify: inter-word;">
	<style>.schedules img{
		width:100%;
		}</style>
		
<br/>
<div class="schedules">
	<ion-scroll zooming="true" direction="xy" style="width: 100%; ">
    <img src="img/schedules/cultural.jpg"/>
    <img src="img/schedules/technical.jpg"/>
    <img src="img/schedules/lits.jpg"/>
    <img src="img/schedules/fine_arts.jpg"/>
    <img src="img/schedules/sports1.jpg"/>
    <img src="img/schedules/sports2.jpg"/>    
    </ion-scroll>
</div>
</ion-content>
</ion-view>
