<head><script src="js/app.js"></script></head>
<body ng-app="app">
<ion-view title='<img class="title-image" src="img/logo2.png" height="100%"/>'>
<ion-content ng-controller="app2" class="padding" style="background-color: transparent; font-family:karla;">
  <ion-list class="list" style="background-color: transparent;">
      <ion-item class="item item-avatar item-icon-right" ng-click="showAlert('Monis Ahmad Khan','Overall Coordinator','img/team/monis.jpg','+91-9557202499','khanmonis78@gmail.com')">
      <img src="img/team/monis.jpg">
        <h2>Monis Ahmad Khan</h2>
        <p>Overall Coordinator</p>
        <!-- <p>+91-9557202499</p><p>khanmonis78@gmail.com</p> -->
      </ion-item>
        <ion-item class="item item-avatar item-button-right" ng-click="showAlert('Tanya Dixit','Website Coordinator','img/team/tanya.jpg','','tanyadixit19@gmail.com')">
          <img src="img/team/tanya.jpg">
          <h2>Tanya Dixit</h2>
          <p>Website Coordinator</p>
          <!-- <p>tanyadixit19@gmail.com</p> -->
        </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Haider Zaidi','Closing Coordinator','img/team/haider.jpg','+91-8960421667','haiderzaidi964@gmail.com')">
            <img src="img/team/haider.jpg">
            <h2>Haider Zaidi</h2>
            <p>Closing Coordinator</p>
            <!-- <p>+91-8960421667</p><p>haiderzaidi964@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Gaurav Rawat','Sponsorship Coordinator','img/team/gaurav.jpg','+91-9807074708','gauravheight6@gmail.com')">
            <img src="img/team/gaurav.jpg">
            <h2>Gaurav Rawat</h2>
            <p>Sponsorship Coordinator</p>
            <!-- <p>+91-9807074708</p><p>gauravheight6@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Randeep Singh','Cultural Coordinator','img/team/randeep.jpg','+91-8896613474','khinda.randeephardev@gmail.com')">
            <img src="img/team/randeep.jpg">
            <h2>Randeep Singh</h2>
            <p>Cultural Coordinator</p>
            <!-- <p>+91-8896613474</p><p>khinda.randeephardev@gmail.com </p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Sakshi Garg','Literary Coordinator','img/team/sakshi.jpg','','sakshijyotigarg@gmail.com')">
            <img src="img/team/sakshi.jpg">
            <h2>Sakshi Garg</h2>
            <p>Literary Coordinator</p>
            <!-- <p>sakshijyotigarg@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Ujjwal Bajpai','Hospitality Coordinator','img/team/ujjwal.jpg','+91-8004541442','ujjwalbajpai42@gmail.com')">
            <img src="img/team/ujjwal.jpg">
            <h2>Ujjwal Bajpai</h2>
            <p>Hospitality Coordinator</p>
            <!-- <p>+91-8004541442</p><p>ujjwalbajpai42@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Shambhavi Bhatt','Media Coordinator','img/team/shambhavi.jpg','','shambhavi1919bhatt@gmail.com')">
            <img src="img/team/shambhavi.jpg">
            <h2>Shambhavi Bhatt</h2>
            <p>Media Coordinator</p>
            <!-- <p>shambhavi1919bhatt@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Krishna Sharma','Fine Arts Coordinator','img/team/krishna.jpg','+91-9045483858','krishnaar30@gmail.com')">
            <img src="img/team/krishna.jpg">
            <h2>Krishna Sharma</h2>
            <p>Fine Arts Coordinator</p>
            <!-- <p>+91-9045483858</p><p>krishnaar30@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Prateek Garg','Database Coordinator','img/team/prateek.jpg','+91-7784939696','prateek.unity@gmail.com')">
            <img src="img/team/prateek.jpg">
            <h2>Prateek Garg</h2>
            <p>Database Coordinator</p>
            <!-- <p>+91-7784939696</p><p>prateek.unity@gmail.com </p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Parvez Khan','Media Coordinator','img/team/parvez.jpg','+91-8052138755','parvezsfkh@gmail.com')">
            <img src="img/team/parvez.jpg">
            <h2>Parvez Khan</h2>
            <p>Media Coordinator</p>
            <!-- <p>+91-8052138755</p><p>parvezsfkh@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Saurabh Singh','Food Pandal Coordinator','img/team/saurabh.jpg','srbh2412@gmail.com')">
            <img src="img/team/saurabh.jpg">
            <h2>Saurabh Singh</h2>
            <p>Food Pandal Coordinator</p>
            <!-- <p>srbh2412@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Rajat Gupta','Printing Coordinator','img/team/rajat.jpg','+91-9889573692','rajatgpt52@gmail.com')">
            <img src="img/team/rajat.jpg">
            <h2>Rajat Gupta</h2>
            <p>Printing Coordinator</p>
            <!-- <p>+91-9889573692</p><p>rajatgpt52@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Shahrukh Khan','Opening Coordinator','img/team/shahrukh.jpg','+91-9058562752','shahrukhmaahi@gmail.com')">
            <img src="img/team/shahrukh.jpg">
            <h2>Shahrukh Khan</h2>
            <p>Opening Coordinator</p>
            <!-- <p>+91-9058562752</p><p>shahrukhmaahi@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Furquan Siddiqui','Technical Coordinator','img/team/furquan.jpg','+91-9984151651','furquan0977@gmail.com')">
            <img src="img/team/furquan.jpg">
            <h2>Furquan Siddiqui</h2>
            <p>Technical Coordinator</p>
            <!-- <p>+91-9984151651</p><p>furquan0977@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Vishal Saini','Registration Coordinator','img/team/vishal.jpg','+91-8948700931','vshisaini90@gmail.com')">
            <img src="img/team/vishal.jpg">
            <h2>Vishal Saini</h2>
            <p>Registration Coordinator</p>
            <!-- <p>+91-8948700931</p><p>vshisaini90@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Rishi Raj Dixit','March Past Coordinator','img/team/rishi.jpg','+91-8052350645','dixitrishi01@gmail.com')">
            <img src="img/team/rishi.jpg">
            <h2>Rishi Raj Dixit</h2>
            <p>March Past Coordinator</p>
            <!-- <p>+91-8052350645</p><p>dixitrishi01@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Abhinav','Sports Coordinator','img/team/abhinav.jpg','+91-7786093138','abhinav407@gmail.com')">
            <img src="img/team/abhinav.jpg">
            <h2>Abhinav</h2>
            <p>Sports Coordinator</p>
            <!-- <p>+91-7786093138</p><p>abhinav407@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Siddharth','Discipline Coordinator','img/team/siddharth.jpg','+91-9984948948','siddharth03.1992@gmail.com')">
            <img src="img/team/siddharth.jpg">
            <h2>Siddharth</h2>
            <p>Discipline Coordinator</p>
            <!-- <p>+91-9984948948</p><p>siddharth03.1992@gmail.com </p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Zainabh Siddqui','Hospitality Coordinator','img/team/zainabh.jpg','','zsblossoms@gmail.com')">
            <img src="img/team/zainabh.jpg">
            <h2>Zainab Siddiqui</h2>
            <p>Hospitality Coordinator</p>
            <!-- <p>zsblossoms@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Divyam Yadav','Infratech Coordinator','img/team/divyam.jpg','+91-9839928120','divrox4ever@gmail.com')">
            <img src="img/team/divyam.jpg">
            <h2>Divyam Yadav</h2>
            <p>Infratech Coordinator</p>
            <!-- <p>+91-9839928120</p><p>divrox4ever@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Shailendra Negi','Coordinator','img/team/shailendra.jpg','+91-9453954129','utk.sponsorship@gmail.com')">
            <img src="img/team/shailendra.jpg">
            <h2>Shailendra Negi</h2>
            <p>Coordinator</p>
            <!-- <p>+91-9453954129</p><p>utk.sponsorship@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Mansi Saxena','Publicity Coordinator','img/team/mansi.jpg','','adorable.mansi@gmail.com')">
            <img src="img/team/mansi.jpg">
            <h2>Mansi Saxena</h2>
            <p>Publicity Coordinator</p>
            <!-- <p>adorable.mansi@gmail.com</p> -->
          </ion-item>
          <ion-item class="item item-avatar" ng-click="showAlert('Akriti Khera','Alumni Meet Coordinator','img/team/akriti.jpg','','')">
            <img src="img/team/akriti.jpg">
            <h2>Akriti Khera</h2>
            <p>Alumni Meet Coordinator</p>
            <!-- <p>+91-8052138755</p><p>parvezsfkh@gmail.com</p> -->
          </ion-item>
        </ion-list>
</ion-content>
</ion-view>
</body>